# LangChain packages
langchain-openai
langchain-community
langchain-core
langchain_groq
langchain-huggingface
langchain_chroma

# LangGraph packages
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres

# Additional dependencies
tavily-python
typing_extensions
transformers
databricks-langchain
# pywin32  # Required for Windows compatibility
tqdm
langchain-core
wikipedia==1.4.0